modules = ["nodejs-20", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
DISCORD_CLIENT_ID = "1530170782175465546"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[objectStorage]
defaultBucketID = "replit-objstore-6670d19d-e10a-41fd-86f5-f73dadf2036f"
